/*https://coolors.co/ffffff-0b0b0d-72550b-dba01d-bf707c*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html {
  height: 100%;
}

.home {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#short {
  height: 260px;
}

.about {
  margin-top: 10px;
}

.picture {
  border: outset;
  display: flex;
}

#thumbnail-img {
  width: 200px;
}

.keith-row {
  border: solid;
  padding: 4px;
}

.navbar {
  color: white;
}
#call {
  width: 20%;
}

#text-between-photo-and-carousel {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

#email,
#phone {
  display: flex;
}

#toggle {
  background-color: #dba01d;
}

.move-nav {
  padding: 0;
  margin: 0;
}

.top-and-bottom {
  background-color: black;
}

@media screen and (max-width: 680px) {
  .navbar-words {
    display: none !important;
  }
}

@media screen and (max-width: 1080px) {
  #call {
    width: 25%;
  }
}

@media screen and (max-width: 992px) {
  #call {
    display: none;
  }
}

#logo {
  height: 10vh;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar-words {
  color: white;
}

.icon {
  margin-top: 5px;
  margin-right: 2px;
}

.center,
.navlink,
.contact {
  text-align: center;
}

.contact h5 {
  margin: auto;
  padding-top: 60px;
}

a {
  text-decoration: none;
  color: white;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

.caption {
  color: #72550b;
}

.carousel-image {
  width: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.blur {
  -webkit-filter: blur(7px); /* Safari 6.0 - 9.0 */
  filter: blur(7px);
  width: 100%;
  height: 600px;
  position: absolute;
}

.cards {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

a:hover {
  text-decoration: none;
  color: #dba01d;
}
