/*https://coolors.co/ffffff-0b0b0d-72550b-dba01d-bf707c*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar {
  background-color: #0b0b0d;
  color: white;
}

.navbar-words {
  color: white;
}

.footer {
  background-color: #0b0b0d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar-words {
  color: white;
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}
